<div class="navigation">
  <div class="header">
    <div class="header_logo"></div>
    <span class="kpmt-header">Kanban Project Management Tool</span>
    <div class="frame-42">
      <a href="../help.html">
        <img class="help_icon" src="./../img/help.svg" alt="Help Icon" />
      </a>
      <div id="openLogOutBox" onclick="openLogOutBox()" class="frame-31">
        <span class="group-9" id="header-initials"></span>
      </div>
      <div id="LogOutBoxCSS" class="LogOutBox d-none">
        <div class="BoxHoverTest">
          <a href="./../legal.html">Legal Notice</a>
        </div>
        <div class="BoxHoverTest">
          <a href="./../privacy.html">Privace Policy</a>
        </div>
        <div class="BoxHoverTest">
          <a onclick="userLogout()">Log out</a>
        </div>
      </div>
    </div>
  </div>