<div class="frame-3">
  <div class="top_menu">
    <img class="logo_sidebar" src="././img/capa-2.svg" alt="Logo" class="capa-2" />
    <div class="menu">
      <a id="summary" class="frame-10" href="./summary.html">
        <div class="frame-10_helper">
          <img src="././img/summary_icon.svg" alt="Summary" class="icons" />
          <span>Summary</span>
        </div>
      </a>
      <a id="add_task" class="frame-10" href="./addtask.html">
        <div class="frame-10_helper">
          <img src="././img/add_task_icon.svg" alt="Add Task" class="icons" />
          <span>Add Task</span>
        </div>
      </a>
      <a id="board" class="frame-10" href="./board.html">
        <div class="frame-10_helper">
          <img src="././img/bord_img.svg" alt="Board" class="icons" />
          <span>Board</span>
        </div>
      </a>
      <a id="contacts" class="frame-10" href="./contacts.html">
        <div class="frame-10_helper">
          <img src="././img/contacts_img.svg" alt="Contacts" class="icons" />
          <span>Contacts</span>
        </div>
      </a>
    </div>
  </div>
  <div class="footer">
    <a id="privacy_policy" class="font" href="./privacy.html">
      <span>Privacy Policy</span>
    </a>
    <a id="legal_notice" class="font" href="./legal.html">
      <span>Legal Notice</span>
    </a>
  </div>
</div>